#customers {
    border: solid lightgray 1px;
    border-collapse: collapse;
    background-color: lemonchiffon;
}

th {
    border: solid lightgray 1px;
    background-color: green;
    color: white;
    text-align: left;
    padding: 15px;
}

td {
    border: solid lightgray 1px;
    padding: 15px;
}

.eerste_rij {
    width: 100px;
}

.rij {
    width: 200px;
}

.active {
    background-color: orange;
}
