body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

ol {
    border: 20px solid palevioletred;
    background-color: pink;
    margin: 20px;
}

li {
    background-color: pink;
    margin-left: -40px;
    padding: 5px;
}

ul {
    border: 20px solid blue;
}

.canvas {
    background-color: lightskyblue;
}

.woordenboek {
    border-bottom: 2px solid blue;
    background-color: lightskyblue;
}

.cursus {
    border-top: 2px solid blue;
    background-color: lightskyblue;
}